<!-- gerenciar.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Ciclo - {{ ciclo.id }}</title>
    <script>
        function confirmarEncerramentoEImprimir() {
            if (confirm("Tem certeza que deseja encerrar este ciclo?")) {
                // Redireciona para a view de encerrar e imprimir
                window.location.href = "{% url 'encerrar_imprimir' ciclo.id %}";
            }
        }

        function confirmarImpressaoRelatorio() {
            if (confirm("Deseja imprimir o relatório deste ciclo?")) {
                // Redireciona para a view de imprimir relatório
                window.location.href = "{% url 'imprimir_relatorio' ciclo.id %}";
            }
        }
    </script>
</head>
<body>

<h1><a href="{% url 'inicio' %}">Voltar à Página Inicial</a></h1>
<h1>Ciclo {{ ciclo.id }}</h1>
<p>Nome do Ciclo: {{ ciclo.nome }}</p>
<p>Valor Total: R$ {{ ciclo.valor }}</p>
<p>Data de Início: {{ ciclo.data_inicio }}</p>
<p>Data de Fim: {{ ciclo.data_fim }}</p>
<p>Texto: {{ ciclo.texto }}</p>
<p>Limite Diário: R$ <span id="limite_diario">{{ ciclo.limite_diario }}</span></p>
<p>Dias Passados: {{ ciclo.dias_passados }}</p>

<h2>Gastos</h2>
<ul>
    {% for gasto in gastos %}
    <li>
        R$ {{ gasto.valor }} - {{ gasto.data }} - {{ gasto.descricao }}
        <a href="{% url 'excluir_gasto' gasto.id %}" onclick="return confirm('Deseja excluir o gasto de R${{ gasto.valor }} referente a \"{{ gasto.descricao }}\"?')">[x]</a>
    </li>
    {% endfor %}
</ul>

<h2>Gasto Hoje</h2>
<form id="gasto_hoje_form" method="post" onsubmit="return submitFormGastoHoje()">
    {% csrf_token %}
    <label for="valor">Valor do Gasto:</label><br>
    <input type="number" id="valor" name="valor" step="0.01" min="0.01" required><br>
    <label for="descricao">Descrição do Gasto:</label><br>
    <textarea id="descricao" name="descricao" required></textarea><br>
    <input type="submit" value="Registrar Gasto" style="padding: 5px; border-radius: 5px; cursor: pointer;">
</form>

<div>
    <button data-relatorio-url="{% url 'relatorio' ciclo.id %}" onclick="redirecionarRelatorio(this.dataset.relatorioUrl)" 
    style="padding: 10px 20px; margin-top: 10px; border-radius: 5px; cursor: pointer;">
    Retornar Relatório
    </button>

    <button onclick="confirmarEncerramentoEImprimir()" 
    style="padding: 10px 20px; margin-top: 10px; border-radius: 5px; cursor: pointer;">
    Encerrar Ciclo e Imprimir Relatório
    </button>
</div>

</body>
</html>
