<!-- inicio.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>

<h1>Lista de Ciclos em Andamento</h1>
<ul>
    {% for ciclo in ciclos_em_andamento %}
    <li>
        <a href="{% url 'gerenciar' ciclo.id %}">Ciclo {{ ciclo.nome }}</a>
    </li>
    {% endfor %}
</ul>

<h1>Lista de Ciclos Encerrados</h1>
<ul>
    {% for ciclo in ciclos_encerrados %}
    <li>
        <a href="{% url 'relatorio' ciclo.id %}">Relatório do Ciclo {{ ciclo.nome }}</a>
    </li>
    {% endfor %}
</ul>

</body>
</html>
